**/.dockerignore
**/docker-compose*
**/Dockerfile*
**/.git
**/.gitignore
**/.github
**/.gitlab
**/.gitlab-ci.yml

**/node_modules
**/npm-debug.log
**/.env
**/out
**/.swc
**/.husky
**/next-env.d.ts

**/.vscode
**/.vs

README.md
CHANGELOG.md
